.vscode/
.github/
.history/
node_modules/
logs/
tokens/
bash.exe.stackdump
.env.example
backend/.vscode
backend/target
backend/build/
backend/bin/
backend/out/
backend/logs/
backend/token/
backend/bash.exe.stackdump
backend/src/main/resources/credentials.json
backend/src/main/resources/*.json
frontend/node_modules
frontend/dist
frontend/bash.exe.stackdump